.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: black;
}

.logo, .currencies{
    display: flex;
    align-items: center;
    height: 5rem;
}
img{
    width: 10rem;
    height: 10rem;
}
.currencies{
    gap:10px;
    margin: 0 2rem 0 0;
}
.curr, .eod, .ecb{
    text-transform: uppercase;
    color: white;
}
.point{
    color: white;
}
button {
    border:none;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
}
button:hover{
    background-color: gray;
}



