.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 5rem;
}
img{
    width: 12rem;
    height: 12rem;
}
h1{
    font-size: 2rem;
    font-family: var(--font-text);
}